/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

= form_for @record do |f|
  - if @record.errors.any?
    #error_explanation
      h2 = "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      ul
        - @record.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :date
    = f.text_field :date, type: :date
  .field
    = f.label :description
    = f.text_field :description

  = f.fields_for :entries do |attr|
    .entry
      = attr.label :book
      = attr.collection_select :book_id, Book.arrange_as_array,
        :id, :name_for_select
    .entry
      = attr.label :amount
      = attr.number_field :amount
    .entry
      = attr.label :note
      = attr.text_field :note

  .actions = f.submit
