/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

h1 Editing record

== render 'form'

=> link_to 'Show', @record
'|
=< link_to 'Back', records_path
