/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

h1 Listing records

table
  thead
    tr
      th
        ' Date
        = link_to "#{@order == :desc ? '↑' : '↓'}", order: "date-#{@order}"
      th Description
      th
      th
      th

  tbody
    - @records.each do |record|
      tr
        td = record.date
        td = record.description
        td = link_to 'Show', record
        td = link_to 'Edit', edit_record_path(record)
        td = link_to 'Destroy', record, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Record', new_record_path
