/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

p#notice = notice

p
  strong Date:
  = @record.date
p
  strong Description:
  = @record.description

table
  thead
    tr
      th Book
      th Amount
      th Note

  tbody
    - @record.entries.each do |entry|
      tr
        td = link_to entry.book.path_name, entry.book
        td = entry.amount.format
        td = entry.note

=> link_to 'Edit', edit_record_path(@record)
'|
=< link_to 'Back', records_path
