/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      h2 = "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      ul
        - @book.errors.full_messages.each do |message|
          li = message

  - if Book.any?
    .field
      = f.label :parent
      = f.collection_select :parent_id, Book.arrange_as_array,
        :id, :name_for_select, include_blank: true
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :notes
    = f.text_area :notes
  .actions = f.submit
