/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

h1 Editing book

== render 'form'

=> link_to 'Show', @book
'|
=< link_to 'Back', books_path
