/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

h1 Listing books

table
  thead
    tr
      th Name
      th Balance
      th
      th
      th

  tbody
    - Book.arrange_as_array.each do |book|
      tr
        td = book.name_for_select
        td = book.balance
        td = link_to 'Show', book
        td = link_to 'Edit', edit_book_path(book)
        td = link_to 'Destroy', book, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Book', new_book_path
