/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

p#notice = notice

p
  strong Name:
  = @book.path_name

table
  thead
    tr
      th
        ' Date
        = link_to "#{@order == :desc ? '↓' : '↑'}",
          book_path(@book, order: "date-#{@order == :desc ? :asc : :desc}")
      th Description
      th Amount
      th Note

  tbody
    - @book.entries.ordered(@order).each do |entry|
      tr
        td = entry.record.date
        td = link_to entry.record.description, entry.record
        td = entry.amount.format
        td = entry.note

p
  strong Notes:
  = @book.notes

=> link_to 'Edit', edit_book_path(@book)
'|
=< link_to 'Back', books_path
