/ Copyright © 2020 Olaf Meeuwissen <paddy-hack@member.fsf.org>
/
/ SPDX-License-Identifier: AGPL-3.0-or-later

doctype html
html
  head
    title = Rails.application.class.module_parent_name
    = csrf_meta_tags

    = javascript_include_tag 'application'

  body
    == yield
